/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 140%;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 720px;
}

.nav-wrapper {
  background: #891c1c;
  border-bottom: 1px solid #a53d3d;
  padding: 12px 0;
  ul {
    text-align: center;
    li {
      color: #a53d3d;
      display: inline;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0 10px;
      text-transform: uppercase;
      a {
        color: #e87070;
        @include transition-property(color);
        @include transition-duration(0.4s);
      }
      a:hover {
        color: #fff;
      }
    }
  }
}

.title-wrapper {
  background: #080808 url(../images/theater.png) top center no-repeat;
  border-bottom: 1px solid #fff;
  min-height: 500px;
  padding-top: 90px;
}

.venue-wrapper {
  background: #ccc url(../images/arches.png);
  border-bottom: 1px solid #999;
  padding: 40px 0;
  h2 { 
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    a {
    color: #333;
    }
  }
  p.question {
    border-top: 1px solid #ccc;
  }
}

.event-wrapper {
  background: #fff url(../images/retro_white.png);
  border-bottom: 1px solid #333;
  padding: 40px 0;
  h2 { 
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    a {
    color: #666;
    }
  }
  p.question {
    border-top: 1px solid #eee;
  }
}

.rsvp-wrapper {
  background: #891c1c;
  border-bottom: 1px solid #666;
  padding: 40px 0;
  h2 { 
    border-bottom: 1px solid #a53d3d;
    padding-bottom: 10px;
    a {
    color: #fff;
    }
  }
}

.photos-wrapper {
  background: #444;
  border-bottom: 1px solid #666;
  padding: 40px 0;
  p {
    color: #ddd;
    a {
      color: #e87070;
    }
  }
  h2 { 
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
    a {
    color: #888;
    }
  }
}

.footer-wrapper {
  background: #232323;
  color: #a53d3d;
  font-size: 85%;
  padding: 12px 0;
  p {
    text-align: right;
  }
  a {
    color: #e87070;
    font-weight: normal;
  }
}

h1 {
  border-bottom: 1px solid #222;
  color: #fff;
  font-family: 'Limelight', sans-serif;
  font-size: 86px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

h2 {
  color: #999;
  font-family: 'Limelight', sans-serif;
  font-size: 34px;
  letter-spacing: 5px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

p {
  margin: 10px 0;
  text-align: left;
}

p.question {
  font-weight: 600;
  margin-top: 20px;
  padding-top: 30px;
}

p.question.top {
  border-top: none;
}

.inline-left {
  float: left;
  margin: 40px 30px 40px 0;
}

.inline-right {
  float: right;
  margin-left: 20px;
}

ul.registry {
  margin-bottom: 10px;
  text-align: left;
  li {
    list-style-type: circle;
    margin-left: 20px;
  }
}

#form1 {
  margin: 0 auto;
  text-align: left;
  width: 350px;
  p {
    color: #e87070;
    font-size: 90%;
    line-height: 130%;
  }
  .desc {
    color: #e87070;
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  input, textarea {
    border: 1px solid #333;
    margin-bottom: 12px;
    padding: 6px;
  }
  .hide {
    display: none;
  }
  .btTxt {
    @include border-radius(3px);
    @include box-shadow(#333 1px 1px 1px);
    @include text-shadow(#891c1c 1px 1px 1px);
    background: #e87070;
    border: none;
    border-top: 1px solid #FA9393;
    border-left: 1px solid #FA9393;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    text-transform: uppercase;
  }
}

a {
  border-bottom: 1px dotted #999;
  color: #891c1c;
  font-weight: bold;
  text-decoration: none;
}

h1 a, h2 a {
  border-bottom: none;
  font-weight: normal;
}

.nav-wrapper ul li a {
  border-bottom: none;
}