<form id="form1" name="form1" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
action="https://jodiandjim.wufoo.com/forms/z7x3x5/#public">

<ul>

<li id="foli113" class="notranslate      ">
<fieldset>
<![if !IE | (gte IE 8)]>
<legend id="title113" class="desc">
Are you attending?
</legend>
<![endif]>
<!--[if lt IE 8]>
<label id="title113" class="desc">
Are you attending?
</label>
<![endif]-->
<div>
<input id="radioDefault_113" name="Field113" type="hidden" value="" />
<span>
<input id="Field113_0" name="Field113" type="radio" class="field radio" value="Yes" tabindex="1" checked="checked"  
/>
<label class="choice" for="Field113_0" >
Yes</label>
</span>
<span>
<input id="Field113_1" name="Field113" type="radio" class="field radio" value="No" tabindex="2" />
<label class="choice" for="Field113_1" >
No</label>
</span>
</div>
</fieldset>
</li>

<li id="foli111" class="notranslate      ">
<label class="desc" id="title111" for="Field111">
Name
</label>
<div>
<input id="Field111" name="Field111" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" size="65" />
</div>
</li><li id="foli109" 
class="notranslate      "><label class="desc" id="title109" for="Field109">
Guest/s
</label>

<div>
<textarea id="Field109" 
name="Field109" 
class="field textarea small" 
spellcheck="true" 
rows="5" cols="47" 
tabindex="2" 
onkeyup=""
 ></textarea>

</div>
</li><li id="foli107" class="notranslate section      ">
<section>
<p>
If you're interested in bringing a dessert to the reception please send your phone number so Jodi can coordinate with you.</p>
</section>
</li><li id="foli106" class="phone notranslate      ">
<label class="desc" id="title106" for="Field106">
Phone
</label>
<span>
<input id="Field106" name="Field106" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="3" />
</span>
<span class="symbol">-</span>
<span>
<input id="Field106-1" name="Field106-1" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="4" />
</span>
<span class="symbol">-</span>
<span>
 <input id="Field106-2" name="Field106-2" type="tel" class="field text" value="" size="4" maxlength="4" tabindex="5" />
</span>
</li> <li class="buttons ">
<div>

                    <input id="saveForm" name="saveForm" class="btTxt submit" 
    type="submit" value="Send"
 /></div>
</li>

<li class="hide">
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
<input type="hidden" id="idstamp" name="idstamp" value="oiJkTWcmxd4jydhQMllgpSrIQwlJ/qthTo4fHujaAgw=" />
</li>
</ul>
</form>