/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 140%;
  text-align: center;
}

/* line 18, ../sass/screen.scss */
.container {
  margin: 0 auto;
  width: 720px;
}

/* line 23, ../sass/screen.scss */
.nav-wrapper {
  background: #891c1c;
  border-bottom: 1px solid #a53d3d;
  padding: 12px 0;
}
/* line 27, ../sass/screen.scss */
.nav-wrapper ul {
  text-align: center;
}
/* line 29, ../sass/screen.scss */
.nav-wrapper ul li {
  color: #a53d3d;
  display: inline;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 10px;
  text-transform: uppercase;
}
/* line 37, ../sass/screen.scss */
.nav-wrapper ul li a {
  color: #e87070;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 42, ../sass/screen.scss */
.nav-wrapper ul li a:hover {
  color: #fff;
}

/* line 49, ../sass/screen.scss */
.title-wrapper {
  background: #080808 url(../images/theater.png) top center no-repeat;
  border-bottom: 1px solid #fff;
  min-height: 500px;
  padding-top: 90px;
}

/* line 56, ../sass/screen.scss */
.venue-wrapper {
  background: #cccccc url(../images/arches.png);
  border-bottom: 1px solid #999;
  padding: 40px 0;
}
/* line 60, ../sass/screen.scss */
.venue-wrapper h2 {
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
}
/* line 63, ../sass/screen.scss */
.venue-wrapper h2 a {
  color: #333;
}
/* line 67, ../sass/screen.scss */
.venue-wrapper p.question {
  border-top: 1px solid #ccc;
}

/* line 72, ../sass/screen.scss */
.event-wrapper {
  background: white url(../images/retro_white.png);
  border-bottom: 1px solid #333;
  padding: 40px 0;
}
/* line 76, ../sass/screen.scss */
.event-wrapper h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
/* line 79, ../sass/screen.scss */
.event-wrapper h2 a {
  color: #666;
}
/* line 83, ../sass/screen.scss */
.event-wrapper p.question {
  border-top: 1px solid #eee;
}

/* line 88, ../sass/screen.scss */
.rsvp-wrapper {
  background: #891c1c;
  border-bottom: 1px solid #666;
  padding: 40px 0;
}
/* line 92, ../sass/screen.scss */
.rsvp-wrapper h2 {
  border-bottom: 1px solid #a53d3d;
  padding-bottom: 10px;
}
/* line 95, ../sass/screen.scss */
.rsvp-wrapper h2 a {
  color: #fff;
}

/* line 101, ../sass/screen.scss */
.photos-wrapper {
  background: #444;
  border-bottom: 1px solid #666;
  padding: 40px 0;
}
/* line 105, ../sass/screen.scss */
.photos-wrapper p {
  color: #ddd;
}
/* line 107, ../sass/screen.scss */
.photos-wrapper p a {
  color: #e87070;
}
/* line 111, ../sass/screen.scss */
.photos-wrapper h2 {
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}
/* line 114, ../sass/screen.scss */
.photos-wrapper h2 a {
  color: #888;
}

/* line 120, ../sass/screen.scss */
.footer-wrapper {
  background: #232323;
  color: #a53d3d;
  font-size: 85%;
  padding: 12px 0;
}
/* line 125, ../sass/screen.scss */
.footer-wrapper p {
  text-align: right;
}
/* line 128, ../sass/screen.scss */
.footer-wrapper a {
  color: #e87070;
  font-weight: normal;
}

/* line 134, ../sass/screen.scss */
h1 {
  border-bottom: 1px solid #222;
  color: #fff;
  font-family: 'Limelight', sans-serif;
  font-size: 86px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

/* line 143, ../sass/screen.scss */
h2 {
  color: #999;
  font-family: 'Limelight', sans-serif;
  font-size: 34px;
  letter-spacing: 5px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* line 152, ../sass/screen.scss */
p {
  margin: 10px 0;
  text-align: left;
}

/* line 157, ../sass/screen.scss */
p.question {
  font-weight: 600;
  margin-top: 20px;
  padding-top: 30px;
}

/* line 163, ../sass/screen.scss */
p.question.top {
  border-top: none;
}

/* line 167, ../sass/screen.scss */
.inline-left {
  float: left;
  margin: 40px 30px 40px 0;
}

/* line 172, ../sass/screen.scss */
.inline-right {
  float: right;
  margin-left: 20px;
}

/* line 177, ../sass/screen.scss */
ul.registry {
  margin-bottom: 10px;
  text-align: left;
}
/* line 180, ../sass/screen.scss */
ul.registry li {
  list-style-type: circle;
  margin-left: 20px;
}

/* line 186, ../sass/screen.scss */
#form1 {
  margin: 0 auto;
  text-align: left;
  width: 350px;
}
/* line 190, ../sass/screen.scss */
#form1 p {
  color: #e87070;
  font-size: 90%;
  line-height: 130%;
}
/* line 195, ../sass/screen.scss */
#form1 .desc {
  color: #e87070;
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}
/* line 201, ../sass/screen.scss */
#form1 input, #form1 textarea {
  border: 1px solid #333;
  margin-bottom: 12px;
  padding: 6px;
}
/* line 206, ../sass/screen.scss */
#form1 .hide {
  display: none;
}
/* line 209, ../sass/screen.scss */
#form1 .btTxt {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #333333 1px 1px 1px;
  -moz-box-shadow: #333333 1px 1px 1px;
  box-shadow: #333333 1px 1px 1px;
  text-shadow: #891c1c 1px 1px 1px;
  background: #e87070;
  border: none;
  border-top: 1px solid #FA9393;
  border-left: 1px solid #FA9393;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}

/* line 226, ../sass/screen.scss */
a {
  border-bottom: 1px dotted #999;
  color: #891c1c;
  font-weight: bold;
  text-decoration: none;
}

/* line 233, ../sass/screen.scss */
h1 a, h2 a {
  border-bottom: none;
  font-weight: normal;
}

/* line 238, ../sass/screen.scss */
.nav-wrapper ul li a {
  border-bottom: none;
}
