{% include header.html %}

  <div class="nav-wrapper">
    <div class="container">
      
      <ul>
        <li><a href="/">Welcome</a></li>
        <li> &#183; </li>
        <li><a href="#venue">Venue</a></li>
        <li> &#183; </li>
        <li><a href="#event">Event</a></li>
        <li> &#183; </li>
        <li><a href="#rsvp">RSVP</a></li>
        <li> &#183; </li>
        <li><a href="#photos">Photos</a></li>
      </ul>
      
    </div>
  </div><!-- /nav-wrapper -->

  <div class="title-wrapper">
    <div class="container">
      
      <h1>Jodi &amp; Jim</h1>
      <h2>October 7, 2012</h2>
      
    </div>
  </div><!-- /title-wrapper -->
  
  <div class="venue-wrapper">
    <div class="container">
      
      <h2><a name="venue">Venue</a></h2>
      
      <img class="inline-right" src="images/studio35.png" />
      
      <p class="question top">How do I get to the venue?</p>
      <p>Studio 35 is located at <a href="https://maps.google.com/maps?q=3055+Indianola+Avenue,+Columbus,+OH&hl=en&sll=39.966734,-82.961407&sspn=0.0099,0.020835&oq=3055+Indianola+Avenue&t=h&hnear=3055+Indianola+Ave,+Columbus,+Ohio+43202&z=16">3055 Indianola Avenue</a> in Columbus, Ohio. The nearest interstate is 71 at the Weber Road exit. Travel west on Weber to Indianola Avenue. Turn right (north). Studio 35 cinema will be on the left (west) side of the street.</p>
      
      <p class="question">Where should I park?</p>
      <p>There is free street parking on both sides of Indianola as well as on the nearest side street, Milford Avenue. We encourage those that can to carpool.</p>
      
      <p class="question">Are the ceremony and reception locations wheelchair accessible?</p>
      <p>The recent renovation of Studio 35 includes an elevator if you are unable to maneuver the three stairs down into the theater.</p>

    </div>
  </div><!-- /venue-wrapper -->
  
  <div class="event-wrapper">
    <div class="container">
      
      <h2><a name="event">Event</a></h2>
      
      <p class="question top">What time should I arrive?</p>
      <p>You may arrive any time after 12:45 pm.</p>
        
      <p class="question">What should I wear?</p>
      <p>Our theme is old cinema and dressing in theme is gleefully encouraged, though not required. Jodi is always cold in movie theatres, so she suggests bringing a sweater.</p>
      
      <p class="question">Are kids welcome?</p>
      <p>This wedding is adults-only.</p>
      
      <p class="question">Can I bring a date?</p>
      <p>Please call or email Jim or Jodi to confirm.</p>
      
      <p class="question">Will food be served?</p>
      <p>There will be theater concessions as well as cake and other sweets. If you would like to contribute to the dessert potluck being held at the cinema, please contact Jodi.</p>
      
      <p class="question">Do we have to pay for drinks?</p>
      <p>Guests will receive two tickets which may be redeemed for drinks. If you would like more than two you must pay.</p>
      
      <a href="images/after-party-flyer.jpg"><img class="inline-left" src="images/after-party-flyer-thumb.jpg" /></a>
      
      <p class="question">Will there be dancing/bouquet-garter toss/dollar dance/first dance?</p>
      <p>Not at the cinema, but please join us for our after-party/reception at <a href="https://maps.google.com/maps?q=woodlands+tavern&hl=en&ll=39.986459,-83.037608&spn=0.009897,0.020835&fb=1&gl=us&hq=woodlands+tavern&hnear=0x883888411d20f7b9:0x4a4da225635b628c,Bexley,+OH&cid=0,0,10985986198101086030&t=h&z=16&iwloc=A">Woodland's Tavern</a> with live music by Change It Up Charlie, dancing, merriment and all the fun/tacky/sometimes awful trappings of a wedding reception. There is no cover charge at the bar and it is open to the public. It is a cash bar.</p>
      
      <p class="question">What time will the reception end?</p>
      <p>The reception at the cinema ends at 5 pm. The reception/after-party at Woodland’s Tavern begins at 9 pm, though you may go immediately after the cinema reception concludes if you like.</p>
      
      <p class="question">Is there a gifts registry?</p>
      <ul class="registry">
        <li><a href="http://www.warthercutlery.com/gifts/index/view/code/6281eb918b29b4e073265335c7a1755b/">Warther Cutlery in Dover, Ohio</a></li>
        <li><a href="http://www.amazon.com/registry/wedding/1ZVM0ISVE8Y75">Amazon</a></li>
      </ul>
    
	<p class="question">Where can guests from out of town stay?</p>
 	<p>There are a number of hotels nearby. We recommend the <a href="http://www.ramada.com/hotels/ohio/columbus/ramada-plaza-hotel-and-conference-center/hotel-overview">Ramada Plaza Hotel</a> on Sinclair Road. We were quoted a rate of $89 per night. Please book your room as soon as is practical; there is an OSU football game the night before.</p>
    </div>
  </div><!-- /event-wrapper -->
  
  <div class="rsvp-wrapper">
    <div class="container">
      
      <h2><a name="rsvp">RSVP</a></h2>
      
      {% include form.html %}
    
    </div>
  </div><!-- /rsvp-wrapper -->
  
<div class="photos-wrapper">
  <div class="container">
    
    <h2><a name="photos">Photos</a></h2>
        
    <p class="question top">Can I take pictures?</p>
    <p>We kindly ask that you refrain from taking photographs during the ceremony. The couple has hired a team of photographers from <a href="http://www.jrdphotography.com/">JRD Photography</a> and will happily share all photographs with all of you. However, photos and video are encouraged at the reception and after-party. We only request copies for ourselves as well.</p>
    
    <p>Watch this space for collected photos after the event.</p>

  </div>
</div><!-- /photos-wrapper -->
  
  <div class="footer-wrapper">
    <div class="container">
      
      <p>Questions? <a href="mailto:hi@jimfrisby.com">Email us !</a></p>
      
    </div>
  </div><!-- /footer-wrapper -->

{% include footer.html %}
