{% include header.html %}

  <div class="nav-wrapper">
    <div class="container">
      
      <ul>
        <li><a href="/">Welcome</a></li>
        <li> &#183; </li>
        <li><a href="#venue">Venue</a></li>
        <li> &#183; </li>
        <li><a href="#event">Event</a></li>
        <li> &#183; </li>
        <li><a href="#rsvp">RSVP</a></li>
      </ul>
      
    </div>
  </div><!-- /nav-wrapper -->

  <div class="title-wrapper">
    <div class="container">
      
      <h1>Jodi &amp; Jim</h1>
      <h2>October 7, 2012</h2>
      
    </div>
  </div><!-- /title-wrapper -->
  
  <div class="venue-wrapper">
    <div class="container">
      
      <h2><a name="venue">Venue</a></h2>
      
      <p><strong>How do I get to the venue?</strong></p>
      <p>Studio 35 is located at 3055 Indianola Avenue in Columbus, Ohio. The nearest interstate is 71 at the Weber Road exit. Travel west on Weber to Indianola Avenue. Turn right (north). Studio 35 cinema will be on the left (west) side of the street.</p>
      
      <p><strong>Where should I park?</strong></p>
      <p>There is free street parking on both sides of Indianola as well as on the nearest side street, Milford Avenue. We encourage those that can to carpool.</p>
      
      <p><strong>Are the ceremony and reception locations wheelchair accessible?</strong></p>
      <p>The recent renovation of Studio 35 includes an elevator if you are unable to maneuver the three stairs down into the theater.</p>

    </div>
  </div><!-- /venue-wrapper -->
  
  <div class="event-wrapper">
    <div class="container">
      
      <h2><a name="event">Event</a></h2>
      
      <p><strong>What time should I arrive?</strong></p>
      <p>You may arrive any time after 12:45 pm.</p>
        
      <p><strong>What should I wear?</strong></p>
      <p>Our theme is old cinema and dressing in theme is gleefully encouraged, though not required. Jodi is always cold in movie theatres, so she suggests bringing a sweater.</p>
      
      <p><strong>Are kids welcome?</strong></p>
      <p>This wedding is adults-only.</p>
      
      <p><strong>Can I bring a date?</strong></p>
      <p>Please call or email Jim or Jodi to confirm.</p>
      
      <p><strong>Will food be served?</strong></p>
      <p>There will be theater concessions as well as cake and other sweets. If you would like to contribute to the dessert potluck, please contact Jodi.</p>
      
      <p><strong>Do we have to pay for drinks?</strong></p>
      <p>Guests will receive two tickets which may be redeemed for drinks. If you would like more than two you must pay.</p>
      
      <p><strong>Will there be dancing/bouquet-garter toss/dollar dance/first dance?</strong></p>
      <p>Not at the cinema, but please join us for our after-party/reception at Woodland’s Tavern with live music by Change It Up Charlie, dancing, merriment and all the fun/tacky/sometimes awful trappings of a wedding reception. There is no cover charge at the bar and it is open to the public. It is a cash bar.</p>
      
      <p><strong>What time will the reception end?</strong></p>
      <p>The reception at the cinema ends at 5 pm. The reception/after-party at Woodland’s Tavern begins at 9 pm, though you may go immediately after the cinema reception concludes if you like.</p>
      
      <p><strong>Can I take pictures?</strong></p>
      <p>We kindly ask that you refrain from taking photographs during the ceremony. The couple has hired a team of photographers from <a href="http://www.jrdphotography.com/">JRD Photography</a> and will happily share all photographs with all of you. However, photos and video are encouraged at the reception and after-party. We only request copies for ourselves as well.</p>
      
      <p><strong>Is there a gifts registry?</strong></p>
      <p><a href="http://www.warthercutlery.com/gifts/index/view/code/6281eb918b29b4e073265335c7a1755b/">Warther Cutlery in Dover, Ohio</a></p>
      <p><a href="http://www.amazon.com/registry/wedding/1ZVM0ISVE8Y75">Amazon</a></p>
    
    </div>
  </div><!-- /event-wrapper -->
  
  <div class="rsvp-wrapper">
    <div class="container">
      
      <h2><a name="rsvp">RSVP</a></h2>
      
      <form id="form1" name="form1" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
action="https://jodiandjim.wufoo.com/forms/z7x3x5/#public">

<ul>

<li id="foli1" class="notranslate      ">
<p>
<label class="desc" id="title1" for="Field1">
<strong>Name</strong>
<span id="req_1" class="req">*</span>
</label><br />
<span>
<label for="Field1">First</label>
<input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1" required />
</span>
<span>
<label for="Field2">Last</label>
<input id="Field2" name="Field2" type="text" class="field text ln" value="" size="14" tabindex="2" required />
</span>
</p>
</li>
<li id="foli3" class="notranslate      ">
<p>
<label class="desc" id="title3" for="Field3">
<strong>Guest</strong>
</label><br />
<span>
<label for="Field3">First</label>
<input id="Field3" name="Field3" type="text" class="field text fn" value="" size="8" tabindex="3" />
</span>
<span>
<label for="Field4">Last</label>
<input id="Field4" name="Field4" type="text" class="field text ln" value="" size="14" tabindex="4" />
</span>
</p>
</li><li id="foli107" class="notranslate section      ">
<section>
<p>
<h3 id="title107">
Are you interested in bringing a dessert to the reception?
</h3>
<div id="instruct107">If so, please submit your phone number so Jodi can coordinate with you.</div>
</p>
</section>
</li><li id="foli106" class="phone notranslate      ">
<p>
<label class="desc" id="title106" for="Field106">
<strong>Phone</strong>
</label>
<span>
<input id="Field106" name="Field106" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="5" />
</span>
<span class="symbol">-</span>
<span>
<input id="Field106-1" name="Field106-1" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="6" />
</span>
<span class="symbol">-</span>
<span>
<input id="Field106-2" name="Field106-2" type="tel" class="field text" value="" size="4" maxlength="4" tabindex="7" />
</span>
</p>
</li> <li class="buttons ">
<div>

                    <input id="saveForm" name="saveForm" class="btTxt submit" 
    type="submit" value="Submit"
 /></div>
</li>

</ul>
</form> 
    
    </div>
  </div><!-- /rsvp-wrapper -->

{% include footer.html %}
