{% include header.html %}

  <div class="nav-wrapper">
    <div class="container">
      
      <ul>
        <li><a href="/">Welcome</a></li>
        <li> &#183; </li>
        <li><a href="/#venue">Venue</a></li>
        <li> &#183; </li>
        <li><a href="/#event">Event</a></li>
        <li> &#183; </li>
        <li><a href="/#rsvp">RSVP</a></li>
        <li> &#183; </li>
        <li><a href="/#photos">Photos</a></li>
        <li> &#183; </li>
        <li><a href="/video">Video</a></li>
      </ul>
      
    </div>
  </div><!-- /nav-wrapper -->

  <div class="title-wrapper">
    <div class="container">
      
      <h1>Jodi &amp; Jim</h1>
      <h2>October 7, 2012</h2>
      <video width="640" height="360" controls="controls">
        <source src="https://s3.amazonaws.com/jodiand.jimfrisby.com/video/intro.mp4" type="video/mp4"><source src="https://s3.amazonaws.com/jodiand.jimfrisby.com/video/intro.ogg" type="video/ogg">Your browser does not support the video tag.
      </video>
      
    </div>
  </div><!-- /title-wrapper -->
  
  <div class="footer-wrapper">
    <div class="container">
      
      <p>Questions? <a href="mailto:hi@jimfrisby.com">Email us !</a></p>
      
    </div>
  </div><!-- /footer-wrapper -->

{% include footer.html %}
